/* 要素を再利用できるように、要素のCSSはここに記述していきます */

/* ヘッダー */
.header-box {
  display: flex;
  align-items: center;
  height: 111px;
  >.link {
    margin-right: 60px;
  }
  >.link >a {
    white-space: nowrap;
    color: white;
    font-size: 20px;
  }
  >.logo {
    background-color: white;
    width: 218px;
    height: 59px;
    text-align: center;
    line-height: 59px;
  }
  >.logo >a {
    color: black;
  }
}



/* フッター */
.footer-box {
  margin-top: 0;
  display: flex;
  align-items: center;
  height: 123px;
  >.link {
    margin-right: 60px;
  }
  >.link >a {
    white-space: nowrap;
    color: #000000;
    font-size: 20px;
  }
  @media screen and (max-width: 896px) {
    justify-content: center;
    height: 54px;
    >.link {
      margin-right: 23px;
    }
    >.link:nth-child(3) {
      margin-right: 0;
    }
    >.link >a {
      font-size: 10px;
    }
  }
}
