/* 各ページで使用するCSSを記述していきます */

/* トップ */
.top-page {
  background-color: #161922;
  >header {
    background-color: #161922;
  }
  >header >.header-box {
    padding-left: 80px;
  }
  >footer {
    @media screen and (max-width: 896px) {
      background-color: transparent;
      >.footer-box >.link > a {
        color: white;
      }
    }
  }
}


/* メインビジュアル */
.main-visual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(600px + 50%);
  width: calc(100% - 100px);
  min-height: calc(100vh - 190px);
  margin-left: 70px;
  padding-bottom: 100px;
  color: #64C1D6;
  >.left-box >.name {
    font-size: 5.25rem;
  }
  >.left-box >.copyright {
    margin: 30px 0;
    font-size: 2.5rem;
  }
  >.left-box >.desc {
    line-height: 2.5rem;
    font-size: 1.25rem;
  }
  >.logo {
    width: 220px;
  }
  @media screen and (min-width: 1500px) {
    >.left-box >.name {
      font-size: 8rem;
    }
    >.left-box >.copyright {
      margin: 40px 0;
      font-size: 4rem;
    }
    >.left-box >.desc {
      line-height: 4rem;
      font-size: 2rem;
    }
    >.logo {
      width: 300px;
    }
  }
  @media screen and (max-width: 896px) {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 140px);
    padding-bottom: 0;
    margin-left: 0;
    >.left-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    >.left-box >.name {
      font-size: 3.5rem;
    }
    >.left-box >.copyright {
      margin: 40px 0;
      font-size: 1.5rem;
    }
    >.left-box >.desc {
      line-height: 1.5rem;
      font-size: 1rem;
    }
    >.logo {
      width: 150px;
      height: 340px;
    }
  }
  @media screen and (max-width: 480px) {
    margin-top: 40px;
    height: initial;
    >.left-box >.name {
      font-size: 3rem;
    }
    >.left-box >.copyright {
      font-size: 1.25rem;
    }
    >.left-box >.desc {
      font-size: 0.875rem;
    }
    >.logo {
      width: 100px;
      height: 150px;
    }
  }
}
/* メインビジュアル_END */
/* トップ_END */



/* メンバー */

.member-page {
  @extend .top-page;
  color: #64C1D6;
  >header >.header-box {
    padding-left: 0;
  }
  >.container {
    width: calc(100% - 160px);
    margin: 0 auto;
    >.ttl {
      margin: 40px 0;
      text-align: left;
      @media screen and (max-width: 480px) {
        margin: 40px 0 60px 0;
        text-align: center;
      }
    }
    @media screen and (max-width: 896px) {
      width: calc(100% - 80px);
    }
  }
  >.modal-box {
    position: fixed;
    bottom: 40px;
    right: 0;
    left: 0;
    margin: auto;
    @media screen and (max-width: 896px) {
      bottom: 60px;
    }
  }
}

.member-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &::after{
    content:"";
    display: block;
    width:30%;
  }
}

.member-box {
  margin-bottom: 50px;
  >img {
    width: calc((100vw - 220px) / 3);
    @media screen and (max-width: 896px) {
      width: calc((100vw - 120px) / 2);
    }
  }
  >.profile {
    padding: 10px;
    @media screen and (max-width: 480px) {
      text-align: center;
    }
  }
  >.profile >h3 {
    margin-bottom: 5px;
  }
  >.tb-pc-none {
    border-radius: 100px;
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 20px;
  }
}

/* インフォメーション */

.info-page {
  @extend .member-page;
  background-color: white;
  >footer {
    background-color: white;
    >.footer-box >.link > a {
      color: black;
    }
  }


  >section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 100%;
  }

  >.about-box {
    color: black;
    padding: 20px 0 40px 0;
    >p {
      margin-top: 20px;
      font-weight: normal;
      line-height: 1.25;
    }
  }

  >.brand-box {
    padding: 50px 0;
    background-color: #F0F0F0;
    >.logo {
      margin-top: 50px;
    }
    >.name {
      margin: 10px 0 20px 0;
    }
    >.desc {
      line-height: 1.25;
      font-weight: normal;
    }
  }

  >.intro-box {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 50px 0;
    >img {
      width: 300px;
      margin-right: 60px;
    }
    >.txt {
      width: 300px;
      margin-left: 60px;
      p {
        white-space: nowrap;
        margin-top: 20px;
        line-height: 1.75;
        font-weight: normal;
      }
    }
    @media screen and (min-width: 1500px) {
      >img {
        width: 500px;
      }
      >.txt {
        width: 500px;
      }
    }
    @media screen and (max-width: 896px) {
      display: block;
      text-align: center;
      >img {
        max-width: 250px;
        margin: initial!important;
      }
      >.txt {
        h4 {
          margin-top: 30px;
        }
        width: 100%;
        margin: initial;
      }
    }
  }
  >.gray {
    background-color: #F0F0F0;
  }
  >.reverse {
    flex-flow: row-reverse;
    >img {
      margin-left: 60px;
    }
    >.txt {
      margin-right: 60px;
    }
  }
  >.recruit-box {
    padding: 50px 0;
    background-color: #161922;
    color: #64C1D6;

    >.recruit-btn {
      margin-top: 30px;
      width: 200px;
      height: 50px;
      background-color: #64C1D6;
      border-radius: 100px;
      a {
        color: white;
        line-height: 50px;
      }
    }

    @media screen and (min-width: 1500px) {
      padding: 100px 0;
      >.recruit-btn {
        margin-top: 60px;
        width: 300px;
        height: 80px;
        a {
          line-height: 80px;
        }
      }
    }
  }
  >.company-box {
    padding: 50px 0;
  }
  >.company-box >.company-table {
    display: block;
    text-align: left;
    font-weight: normal;
    line-height: 1.8;
    padding: 20px 40px 10px 40px;
    border: 1px solid #707070;
    border-radius: 15px;
    border-spacing: 1115px;
    >tbody > tr {
      padding-bottom: 10px;
    }
    .company-head {
      >.left {
        width: 100px;
      }
    }
    @media screen and (max-width: 896px) {
      max-width: 250px;
      width: calc(100vw - 130px);
      padding: 20px 30px 10px 30px;
      margin: 0 auto 80px auto;

      .company-head {
        >.left {
          width: 70px;
        }
      }
    }
  }
}
/* コンタクト */

.contact-page {
  @extend .member-page;
  color: #64C1D6;
  >.container >.ttl {
    text-align: center;
  }
  >.contact-box {
    min-height: calc(100vh - 350px);
    >.desc {
      margin-top: 50px;
      line-height: 2;
      text-align: center;
    }
    >.contact-list {
      display: flex;
      justify-content: space-between;
      background-color: #363B4A;
      margin: 90px auto 140px auto;
      padding: 60px;
      width: 580px;
      border-radius: 50px;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: black;
        width: 200px;
        height: 200px;
        padding: 30px;
        text-align: center;
        border-radius: 10px;

        img {
          height: 60px;
          margin-bottom: 40px;
        }
        p {
          font-size: 1.5rem;
          font-weight: normal;
        }
      }
      @media screen and (max-width: 896px) {
        margin: 60px auto 40px auto;
        padding: 20px;
        width: calc(100% - 80px);
        border-radius: 30px;
        li {
          width: calc(50% - 80px);
          height: 60px;
          padding: 30px;
          img {
            height: 40px;
            margin-bottom: 15px;
            &:first-child {
              width: 40px;
            }
          }

          p {
            font-size: 1rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 896px) {
    >.contact-box {

      min-height: calc(100vh - 240px);

      >.modal-box {
        margin: auto;
      }
    }
  }
}
