/* 各ページで使用するCSSを記述していきます */

/* トップ */
.top-page {
  background-color: #161922;
  >header {
    background-color: #161922;
  }
  >header >.header-box {
    padding-left: 80px;
  }
  >footer {
    background-color: transparent;
    >.footer-box >.link > a {
      color: white;
    }
  }
}
