@charset "UTF-8";
/* 全てのページで共通して使用するCSSを記述します。 */
body {
  font-family: "Amiko",sans-serif;
  font-weight: bold;
  padding-top: 80px; }
  @media screen and (max-width: 896px) {
    body {
      padding-top: 80px; } }

a {
  text-decoration: none;
  color: #000; }

input {
  display: none; }

.container {
  display: block;
  width: calc(100% - 100px);
  margin: 0 auto 0 auto; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

footer {
  width: 100%;
  background-color: white; }

/* 汎用性のあるCSS */
@media screen and (min-width: 896px) {
  .pc-none {
    display: none !important; } }

@media screen and (max-width: 896px) {
  .sp-none {
    display: none !important; } }
