@charset "UTF-8";
/* 全てのページで共通して使用するCSSを記述します。 */
body {
  font-family: "Amiko",sans-serif;
  padding-top: 111px; }
  @media screen and (max-width: 896px) {
    body {
      padding-top: 75px; } }

a {
  text-decoration: none;
  color: #000; }

.container {
  display: block;
  width: calc(100% - 100px);
  margin: 0 auto 0 auto; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

footer {
  width: 100%;
  background-color: white; }

/* 汎用性のあるCSS */
@media screen and (max-width: 896px) {
  .sp-none {
    display: none !important; } }

/* 要素を再利用できるように、要素のCSSはここに記述していきます */
/* ヘッダー */
.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 111px; }
  .header-box > .link {
    margin-right: 60px; }
  .header-box > .link > a {
    white-space: nowrap;
    color: white;
    font-size: 20px; }
  .header-box > .logo {
    background-color: white;
    width: 218px;
    height: 59px;
    text-align: center;
    line-height: 59px; }
  .header-box > .logo > a {
    color: black; }

/* フッター */
.footer-box {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 123px; }
  .footer-box > .link {
    margin-right: 60px; }
  .footer-box > .link > a {
    white-space: nowrap;
    color: #000000;
    font-size: 20px; }
  @media screen and (max-width: 896px) {
    .footer-box {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 54px; }
      .footer-box > .link {
        margin-right: 23px; }
      .footer-box > .link:nth-child(3) {
        margin-right: 0; }
      .footer-box > .link > a {
        font-size: 10px; } }

/* 各ページで使用するCSSを記述していきます */
/* トップ */
.top-page {
  background-color: #161922; }
  .top-page > header {
    background-color: #161922; }
