@charset "UTF-8";
/* 各ページで使用するCSSを記述していきます */
/* トップ */
.top-page {
  background-color: #161922; }
  .top-page > header {
    background-color: #161922; }
  .top-page > header > .header-box {
    padding-left: 80px; }
  .top-page > footer {
    background-color: transparent; }
    .top-page > footer > .footer-box > .link > a {
      color: white; }
